body {
    background: #0d0d0f;
    color: white;
    font-family: Arial;
    text-align: center;
}

.box {
    padding: 20px;
    margin: 20px;
    border: 2px solid #00ff99;
    border-radius: 20px;
}

button {
    width: 80%;
    padding: 15px;
    background: #00ff99;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    margin-top: 10px;
}

input {
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}

.keybox {
    background: #1a1a1d;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #00ff99;
}
